<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/baby-names.css">
    <link rel="shortcut icon" href="/img/Logo/logo.ico" type="image/x-icon">
    <title>BabyNames</title>
</head>
<body>
  <div class="container-fluid mt-3">
    <div class="row">
      <div class="col">
        <a href="/" class="btn btn-outline-secondary back-btn p-0 text-center d-flex justify-content-center align-items-center">
          <i class="fa-solid fa-arrow-left text-white"></i>
        </a>
      </div>
    </div>
  </div>

  
  <div class="container-fluid g-0" id="topsvg">
    <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 490" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><style>
      .path-0{
        animation:pathAnim-0 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes pathAnim-0{
        0%{
          d: path("M 0,500 L 0,0 C 41.41586892488955,40.61782032400589 82.8317378497791,81.23564064801178 151,105 C 219.1682621502209,128.76435935198822 314.0889175257731,135.67525773195877 384,117 C 453.9110824742269,98.32474226804122 498.8125920471282,54.063328424153156 548,50 C 597.1874079528718,45.936671575846844 650.6607142857143,82.0714285714286 718,101 C 785.3392857142857,119.9285714285714 866.5445508100148,121.65095729013254 931,104 C 995.4554491899852,86.34904270986746 1043.1610824742268,49.32474226804124 1093,53 C 1142.8389175257732,56.67525773195876 1194.8111192930783,101.05007363770251 1253,99 C 1311.1888807069217,96.94992636229749 1375.5944403534609,48.474963181148745 1440,0 L 1440,500 L 0,500 Z");
        }
        25%{
          d: path("M 0,500 L 0,0 C 59.922312223858626,21.561671575846837 119.84462444771725,43.123343151693675 181,49 C 242.15537555228275,54.876656848306325 304.5438144329897,45.06829896907216 359,58 C 413.4561855670103,70.93170103092784 459.98011782032404,106.60346097201767 518,111 C 576.019882179676,115.39653902798233 645.5357142857142,88.51785714285714 709,73 C 772.4642857142858,57.482142857142854 829.877025036819,53.325110456553745 884,58 C 938.122974963181,62.674889543446255 988.9561855670104,76.18170103092784 1051,96 C 1113.0438144329896,115.81829896907216 1186.2982326951399,141.94808541973492 1253,127 C 1319.7017673048601,112.05191458026509 1379.8508836524302,56.025957290132546 1440,0 L 1440,500 L 0,500 Z");
        }
        50%{
          d: path("M 0,500 L 0,0 C 47.93906480117822,46.86984536082474 95.87812960235644,93.73969072164948 164,117 C 232.12187039764356,140.26030927835052 320.42654639175254,139.91108247422682 388,129 C 455.57345360824746,118.08891752577318 502.4156848306334,96.61597938144328 559,84 C 615.5843151693666,71.38402061855672 681.9107142857142,67.625 745,72 C 808.0892857142858,76.375 867.9414580265095,88.8840206185567 925,95 C 982.0585419734905,101.1159793814433 1036.3234536082475,100.8389175257732 1099,109 C 1161.6765463917525,117.1610824742268 1232.7647275405006,133.76030927835052 1291,117 C 1349.2352724594994,100.23969072164948 1394.6176362297497,50.11984536082474 1440,0 L 1440,500 L 0,500 Z");
        }
        75%{
          d: path("M 0,500 L 0,0 C 63.52632547864506,34.26840942562592 127.05265095729013,68.53681885125184 184,82 C 240.94734904270987,95.46318114874816 291.31572164948454,88.12113402061856 343,92 C 394.68427835051546,95.87886597938144 447.68446244477184,110.97864506627394 515,105 C 582.3155375552282,99.02135493372606 663.9464285714286,71.96428571428571 737,70 C 810.0535714285714,68.03571428571429 874.5298232695139,91.16421207658321 919,86 C 963.4701767304861,80.83578792341679 987.9342783505156,47.378865979381445 1052,60 C 1116.0657216494844,72.62113402061856 1219.733063328424,131.320324005891 1291,129 C 1362.266936671576,126.67967599410899 1401.1334683357882,63.339837997054495 1440,0 L 1440,500 L 0,500 Z");
        }
        100%{
          d: path("M 0,500 L 0,0 C 41.41586892488955,40.61782032400589 82.8317378497791,81.23564064801178 151,105 C 219.1682621502209,128.76435935198822 314.0889175257731,135.67525773195877 384,117 C 453.9110824742269,98.32474226804122 498.8125920471282,54.063328424153156 548,50 C 597.1874079528718,45.936671575846844 650.6607142857143,82.0714285714286 718,101 C 785.3392857142857,119.9285714285714 866.5445508100148,121.65095729013254 931,104 C 995.4554491899852,86.34904270986746 1043.1610824742268,49.32474226804124 1093,53 C 1142.8389175257732,56.67525773195876 1194.8111192930783,101.05007363770251 1253,99 C 1311.1888807069217,96.94992636229749 1375.5944403534609,48.474963181148745 1440,0 L 1440,500 L 0,500 Z");
        }
      }</style><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#ffb9cc"></stop><stop offset="95%" stop-color="#95cae4"></stop></linearGradient></defs><path d="M 0,500 L 0,0 C 41.41586892488955,40.61782032400589 82.8317378497791,81.23564064801178 151,105 C 219.1682621502209,128.76435935198822 314.0889175257731,135.67525773195877 384,117 C 453.9110824742269,98.32474226804122 498.8125920471282,54.063328424153156 548,50 C 597.1874079528718,45.936671575846844 650.6607142857143,82.0714285714286 718,101 C 785.3392857142857,119.9285714285714 866.5445508100148,121.65095729013254 931,104 C 995.4554491899852,86.34904270986746 1043.1610824742268,49.32474226804124 1093,53 C 1142.8389175257732,56.67525773195876 1194.8111192930783,101.05007363770251 1253,99 C 1311.1888807069217,96.94992636229749 1375.5944403534609,48.474963181148745 1440,0 L 1440,500 L 0,500 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.4" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 250)"></path><style>
      .path-1{
        animation:pathAnim-1 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes pathAnim-1{
        0%{
          d: path("M 0,500 L 0,0 C 41.71962444771725,111.65832106038292 83.4392488954345,223.31664212076583 146,249 C 208.5607511045655,274.68335787923417 291.9626288659793,214.3917525773196 357,186 C 422.0373711340207,157.6082474226804 468.7102356406481,161.11634756995582 523,185 C 577.2897643593519,208.88365243004418 639.1964285714286,253.14285714285714 709,253 C 778.8035714285714,252.85714285714286 856.5040500736377,208.31222385861562 920,196 C 983.4959499263623,183.68777614138438 1032.7873711340205,203.6082474226804 1082,231 C 1131.2126288659795,258.3917525773196 1180.34646539028,293.2547864506628 1240,256 C 1299.65353460972,218.74521354933722 1369.82676730486,109.37260677466861 1440,0 L 1440,500 L 0,500 Z");
        }
        25%{
          d: path("M 0,500 L 0,0 C 48.76988217967599,117.07382179675994 97.53976435935198,234.1476435935199 157,254 C 216.46023564064802,273.8523564064801 286.6108247422681,196.48324742268042 355,180 C 423.3891752577319,163.51675257731958 490.0169366715759,207.91936671575849 548,235 C 605.9830633284241,262.0806332842415 655.3214285714286,271.83928571428567 717,257 C 778.6785714285714,242.1607142857143 852.6973490427099,202.72349042709865 921,193 C 989.3026509572901,183.27650957290135 1051.889175257732,203.26675257731958 1111,216 C 1170.110824742268,228.73324742268042 1225.7459499263623,234.209499263623 1280,197 C 1334.2540500736377,159.790500736377 1387.1270250368188,79.8952503681885 1440,0 L 1440,500 L 0,500 Z");
        }
        50%{
          d: path("M 0,500 L 0,0 C 40.595360824742286,64.88199558173785 81.19072164948457,129.7639911634757 152,178 C 222.80927835051543,226.2360088365243 323.83247422680404,257.82603092783506 393,247 C 462.16752577319596,236.1739690721649 499.4793814432991,182.93188512518407 547,178 C 594.5206185567009,173.06811487481593 652.2499999999999,216.4464285714286 713,236 C 773.7500000000001,255.5535714285714 837.520618556701,251.28240058910163 904,238 C 970.479381443299,224.71759941089837 1039.6675257731958,202.42396907216497 1104,215 C 1168.3324742268042,227.57603092783503 1227.8092783505156,275.0217231222386 1283,245 C 1338.1907216494844,214.9782768777614 1389.0953608247423,107.4891384388807 1440,0 L 1440,500 L 0,500 Z");
        }
        75%{
          d: path("M 0,500 L 0,0 C 63.67415316642122,92.3722385861561 127.34830633284244,184.7444771723122 191,223 C 254.65169366715756,261.2555228276878 318.2809278350515,245.3943298969072 372,223 C 425.7190721649485,200.6056701030928 469.5279823269515,171.6782032400589 521,183 C 572.4720176730485,194.3217967599411 631.6071428571428,245.89285714285717 705,256 C 778.3928571428572,266.10714285714283 866.0434462444772,234.75036818851254 924,206 C 981.9565537555228,177.24963181148746 1010.2190721649483,151.10567010309276 1066,173 C 1121.7809278350517,194.89432989690724 1205.0802650957291,264.82695139911635 1272,244 C 1338.9197349042709,223.17304860088365 1389.4598674521353,111.58652430044182 1440,0 L 1440,500 L 0,500 Z");
        }
        100%{
          d: path("M 0,500 L 0,0 C 41.71962444771725,111.65832106038292 83.4392488954345,223.31664212076583 146,249 C 208.5607511045655,274.68335787923417 291.9626288659793,214.3917525773196 357,186 C 422.0373711340207,157.6082474226804 468.7102356406481,161.11634756995582 523,185 C 577.2897643593519,208.88365243004418 639.1964285714286,253.14285714285714 709,253 C 778.8035714285714,252.85714285714286 856.5040500736377,208.31222385861562 920,196 C 983.4959499263623,183.68777614138438 1032.7873711340205,203.6082474226804 1082,231 C 1131.2126288659795,258.3917525773196 1180.34646539028,293.2547864506628 1240,256 C 1299.65353460972,218.74521354933722 1369.82676730486,109.37260677466861 1440,0 L 1440,500 L 0,500 Z");
        }
      }</style><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#ffb9cc"></stop><stop offset="95%" stop-color="#95cae4"></stop></linearGradient></defs><path d="M 0,500 L 0,0 C 41.71962444771725,111.65832106038292 83.4392488954345,223.31664212076583 146,249 C 208.5607511045655,274.68335787923417 291.9626288659793,214.3917525773196 357,186 C 422.0373711340207,157.6082474226804 468.7102356406481,161.11634756995582 523,185 C 577.2897643593519,208.88365243004418 639.1964285714286,253.14285714285714 709,253 C 778.8035714285714,252.85714285714286 856.5040500736377,208.31222385861562 920,196 C 983.4959499263623,183.68777614138438 1032.7873711340205,203.6082474226804 1082,231 C 1131.2126288659795,258.3917525773196 1180.34646539028,293.2547864506628 1240,256 C 1299.65353460972,218.74521354933722 1369.82676730486,109.37260677466861 1440,0 L 1440,500 L 0,500 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-1" transform="rotate(-180 720 250)"></path><style>
      .path-2{
        animation:pathAnim-2 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes pathAnim-2{
        0%{
          d: path("M 0,500 L 0,0 C 50.870397643593506,133.21189248895436 101.74079528718701,266.4237849779087 153,319 C 204.259204712813,371.5762150220913 255.9072164948454,343.5167525773196 331,348 C 406.0927835051546,352.4832474226804 504.6303387334315,389.5092047128129 568,381 C 631.3696612665685,372.4907952871871 659.5714285714286,318.4464285714286 717,313 C 774.4285714285714,307.5535714285714 861.0839469808542,350.70508100147276 932,350 C 1002.9160530191458,349.29491899852724 1058.0927835051546,304.7332474226804 1105,315 C 1151.9072164948454,325.2667525773196 1190.5449189985272,390.3619293078056 1245,347 C 1299.4550810014728,303.6380706921944 1369.7275405007363,151.8190353460972 1440,0 L 1440,500 L 0,500 Z");
        }
        25%{
          d: path("M 0,500 L 0,0 C 71.29860088365243,136.81793078055964 142.59720176730485,273.63586156111927 206,324 C 269.40279823269515,374.36413843888073 324.90979381443293,338.27448453608247 375,333 C 425.09020618556707,327.72551546391753 469.76362297496325,353.2662002945508 526,366 C 582.2363770250367,378.7337997054492 650.0357142857142,378.6607142857143 719,378 C 787.9642857142858,377.3392857142857 858.0935198821797,376.0909425625921 927,366 C 995.9064801178203,355.9090574374079 1063.590206185567,336.97551546391753 1109,350 C 1154.409793814433,363.02448453608247 1177.5456553755525,408.00699558173784 1229,355 C 1280.4543446244475,301.99300441826216 1360.2271723122237,150.99650220913108 1440,0 L 1440,500 L 0,500 Z");
        }
        50%{
          d: path("M 0,500 L 0,0 C 58.862481590574376,157.42912371134022 117.72496318114875,314.85824742268045 180,371 C 242.27503681885125,427.14175257731955 307.96262886597935,381.9961340206185 364,354 C 420.03737113402065,326.0038659793815 466.42452135493374,315.1572164948454 517,314 C 567.5754786450663,312.8427835051546 622.3392857142857,321.375 689,340 C 755.6607142857143,358.625 834.2183357879234,387.34278350515467 905,386 C 975.7816642120766,384.65721649484533 1038.7873711340205,353.2538659793814 1092,364 C 1145.2126288659795,374.7461340206186 1188.6321796759942,427.6417525773196 1245,374 C 1301.3678203240058,320.3582474226804 1370.683910162003,160.1791237113402 1440,0 L 1440,500 L 0,500 Z");
        }
        75%{
          d: path("M 0,500 L 0,0 C 44.824374079528724,135.8249263622975 89.64874815905745,271.649852724595 160,334 C 230.35125184094255,396.350147275405 326.22938144329896,385.22551546391753 380,386 C 433.77061855670104,386.77448453608247 445.43372606774676,399.4480854197349 506,377 C 566.5662739322532,354.5519145802651 676.0357142857143,296.98214285714283 746,303 C 815.9642857142857,309.01785714285717 846.423416789396,378.62334315169375 895,390 C 943.576583210604,401.37665684830625 1010.2706185567013,354.5244845360824 1080,355 C 1149.7293814432987,355.4755154639176 1222.4941089837998,403.27871870397644 1283,352 C 1343.5058910162002,300.72128129602356 1391.7529455081,150.36064064801178 1440,0 L 1440,500 L 0,500 Z");
        }
        100%{
          d: path("M 0,500 L 0,0 C 50.870397643593506,133.21189248895436 101.74079528718701,266.4237849779087 153,319 C 204.259204712813,371.5762150220913 255.9072164948454,343.5167525773196 331,348 C 406.0927835051546,352.4832474226804 504.6303387334315,389.5092047128129 568,381 C 631.3696612665685,372.4907952871871 659.5714285714286,318.4464285714286 717,313 C 774.4285714285714,307.5535714285714 861.0839469808542,350.70508100147276 932,350 C 1002.9160530191458,349.29491899852724 1058.0927835051546,304.7332474226804 1105,315 C 1151.9072164948454,325.2667525773196 1190.5449189985272,390.3619293078056 1245,347 C 1299.4550810014728,303.6380706921944 1369.7275405007363,151.8190353460972 1440,0 L 1440,500 L 0,500 Z");
        }
      }</style><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="#ffb9cc"></stop><stop offset="95%" stop-color="#95cae4"></stop></linearGradient></defs><path d="M 0,500 L 0,0 C 50.870397643593506,133.21189248895436 101.74079528718701,266.4237849779087 153,319 C 204.259204712813,371.5762150220913 255.9072164948454,343.5167525773196 331,348 C 406.0927835051546,352.4832474226804 504.6303387334315,389.5092047128129 568,381 C 631.3696612665685,372.4907952871871 659.5714285714286,318.4464285714286 717,313 C 774.4285714285714,307.5535714285714 861.0839469808542,350.70508100147276 932,350 C 1002.9160530191458,349.29491899852724 1058.0927835051546,304.7332474226804 1105,315 C 1151.9072164948454,325.2667525773196 1190.5449189985272,390.3619293078056 1245,347 C 1299.4550810014728,303.6380706921944 1369.7275405007363,151.8190353460972 1440,0 L 1440,500 L 0,500 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-2" transform="rotate(-180 720 250)"></path></svg>
  </div>

  <div class="container-fluid my-3 p-2">
    <div class="row mb-3 g-0 text-center">
      <h2>baby names <br>(a-z)</h2>
    </div>
    <div class="row">
      <swiper-container class="mySwiper"  slides-per-view="6"
      space-between="20" free-mode="true">
      <% babyNames.forEach(obj => { %>
        <swiper-slide>
          <div class="card overflow-hidden <%= obj.letter === currentLetter ? 'active' : '' %>" onclick="handleClick(this)">
            <div class="row d-flex h-100 g-0">
              <div class="col-12 col-lg-5">
                <div class="card-body p-0 d-flex justify-content-center align-items-center h-100 text-center text-lg-start">
                  <a href="/baby-names/<%= obj.letter%>" class="text-decoration-none "><%= obj.letter %></a>
                </div>
              </div>
              <div class="col-12 col-lg-7 d-flex justify-content-center align-items-center ">
                <div class="blp" style="background-image: url('<%= obj.image %>.gif');"></div>
              </div>
            </div>
          </div>
        </swiper-slide>
      <% }) %>
    </swiper-container>
    </div>
  </div>


  <% if (currentLetter && currentNames) { %>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <h3 class="mx-auto mb-4 text-center py-2">Names Starting with <%= currentLetter %></h3>
          <div class="row g-4">
            <% 
            // Combine and sort all names
            const allNames = [];
            currentNames.boys.forEach(name => {
              allNames.push({ name: name, gender: 'M' });
            });
            currentNames.girls.forEach(name => {
              allNames.push({ name: name, gender: 'F' });
            });
            allNames.sort((a, b) => a.name.localeCompare(b.name));
            %>
            
            <% allNames.forEach((nameObj, index) => { %>
              <div class="col-6 col-md-4 col-lg-3">
                <div class="d-flex align-items-center name-item">
                  <span class="ms-2">
                    <img src="/img/gender/<%= nameObj.gender === 'F' ? 'woman.png' : 'man.png' %>" alt="<%= nameObj.gender %> icon" class="icon-small">
                  </span>
                  <span class="name-text <%= nameObj.gender === 'F' ? 'female-name' : 'male-name' %> ms-2"><%= nameObj.name %></span>
                </div>
              </div>
            <% }); %>
          </div>
        </div>
      </div>
    </div>
  <% } %>


  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  <script src="/js/baby-names.js"></script>
</body>
</html>