<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/weeks.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="shortcut icon" href="/img/Logo/logo.ico" type="image/x-icon">
    <title>PregnancyWeek</title>
</head>
<body>

  <div class="container-fluid position-relative overflow-hidden g-0" id="header">
    <div class="container-fluid mt-3">
      <div class="row ">
        <div class="col">
          <a href="/" class="btn btn-outline-secondary back-btn p-0 text-center d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-arrow-left text-white"></i>
          </a>
        </div>

        <div class="col d-flex justify-content-end">
          <select id="languageSelect" class="form-select form-select-sm ms-2" style="width:auto; min-width:90px;">
            <option value="en">EN</option>
            <option value="ar">عربي</option>
          </select>
        </div>
      </div>
    </div>

    <svg width="100%" height="100%" id="svg" viewBox="0 0 1440 590" xmlns="http://www.w3.org/2000/svg" class="transition duration-300 ease-in-out delay-150"><style>
      .path-0{
        animation:pathAnim-0 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes pathAnim-0{
        0%{
          d: path("M 0,600 L 0,337 C 32.85240159665864,340.6787980121071 65.70480319331728,344.3575960242142 119,338 C 172.29519680668272,331.6424039757858 246.03318882338948,315.24841391525024 301,291 C 355.9668111766105,266.75158608474976 392.16244151312486,234.64874831478497 435,195 C 477.83755848687514,155.35125168521503 527.3170451241111,108.15659282560999 570,97 C 612.6829548758889,85.84340717439001 648.5693779904306,110.72488038277511 702,90 C 755.4306220095694,69.27511961722489 826.4054429141664,2.9438856432895477 883,-27 C 939.5945570858336,-56.94388564328955 981.8088503529038,-50.5004229559333 1020,-79 C 1058.1911496470962,-107.4995770440667 1092.359155674218,-170.9421938195564 1137,-208 C 1181.640844325782,-245.0578061804436 1236.7545269502232,-255.73080176584102 1289,-273 C 1341.2454730497768,-290.269198234159 1390.6227365248883,-314.13459911707946 1440,-338 L 1440,600 L 0,600 Z");
        }
        25%{
          d: path("M 0,600 L 0,337 C 34.82517380845384,329.70455867191833 69.65034761690768,322.4091173438367 119,323 C 168.34965238309232,323.5908826561633 232.22378334082316,332.06808929657143 291,305 C 349.77621665917684,277.93191070342857 403.4545190197997,215.3185254698776 449,184 C 494.5454809802003,152.6814745301224 531.9581405799784,152.65780882391817 570,117 C 608.0418594200216,81.34219117608184 646.7129186602871,10.050239234449762 700,-8 C 753.2870813397129,-26.050239234449762 821.1901847788732,9.141234238282799 879,-13 C 936.8098152211268,-35.1412342382828 984.5263422242197,-114.61517618758097 1026,-142 C 1067.4736577757803,-169.38482381241903 1102.7044463242485,-144.68052948795895 1144,-164 C 1185.2955536757515,-183.31947051204105 1232.6558724787863,-246.66270586058317 1283,-283 C 1333.3441275212137,-319.3372941394168 1386.6720637606068,-328.6686470697084 1440,-338 L 1440,600 L 0,600 Z");
        }
        50%{
          d: path("M 0,600 L 0,337 C 48.761267810410004,369.4789116815142 97.52253562082001,401.95782336302835 138,369 C 178.47746437918,336.04217663697165 210.67112532712997,237.64761822940076 265,213 C 319.32887467287003,188.35238177059924 395.7929630706601,237.4517037193687 452,220 C 508.2070369293399,202.5482962806313 544.1570223902297,118.54556689312432 586,70 C 627.8429776097703,21.45443310687568 675.5789473684212,8.366028708133971 723,5 C 770.4210526315788,1.633971291866028 817.5271881360861,7.990318274339792 859,-14 C 900.4728118639139,-35.99031827433979 936.3123000872347,-86.32730180549314 981,-104 C 1025.6876999127653,-121.67269819450686 1079.2236115149753,-106.68111105236721 1130,-144 C 1180.7763884850247,-181.3188889476328 1228.7932538528644,-270.948253985038 1280,-312 C 1331.2067461471356,-353.051746014962 1385.6033730735678,-345.525873007481 1440,-338 L 1440,600 L 0,600 Z");
        }
        75%{
          d: path("M 0,600 L 0,337 C 57.55273731793068,320.3094517433715 115.10547463586136,303.61890348674297 157,291 C 198.89452536413864,278.38109651325703 225.1308387744852,269.8338377963996 270,251 C 314.8691612255148,232.16616220360038 378.37117026619785,203.04574532765864 439,196 C 499.62882973380215,188.95425467234136 557.3844801607232,203.98318089296572 600,160 C 642.6155198392768,116.01681910703428 670.0909090909091,13.021531100478462 707,-15 C 743.9090909090909,-43.02153110047846 790.2518834756404,3.9306947051204233 847,-18 C 903.7481165243596,-39.93069470512042 970.9015570065294,-130.74430992096012 1018,-154 C 1065.0984429934706,-177.25569007903988 1092.1418884982422,-132.95345502127995 1142,-151 C 1191.8581115017578,-169.04654497872005 1264.5308890005022,-249.44186999392002 1318,-291 C 1371.4691109994978,-332.55813000608 1405.734555499749,-335.27906500304 1440,-338 L 1440,600 L 0,600 Z");
        }
        100%{
          d: path("M 0,600 L 0,337 C 32.85240159665864,340.6787980121071 65.70480319331728,344.3575960242142 119,338 C 172.29519680668272,331.6424039757858 246.03318882338948,315.24841391525024 301,291 C 355.9668111766105,266.75158608474976 392.16244151312486,234.64874831478497 435,195 C 477.83755848687514,155.35125168521503 527.3170451241111,108.15659282560999 570,97 C 612.6829548758889,85.84340717439001 648.5693779904306,110.72488038277511 702,90 C 755.4306220095694,69.27511961722489 826.4054429141664,2.9438856432895477 883,-27 C 939.5945570858336,-56.94388564328955 981.8088503529038,-50.5004229559333 1020,-79 C 1058.1911496470962,-107.4995770440667 1092.359155674218,-170.9421938195564 1137,-208 C 1181.640844325782,-245.0578061804436 1236.7545269502232,-255.73080176584102 1289,-273 C 1341.2454730497768,-290.269198234159 1390.6227365248883,-314.13459911707946 1440,-338 L 1440,600 L 0,600 Z");
        }
      }</style><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="<%= article.color1%>"></stop><stop offset="95%" stop-color="<%= article.color2%>"></stop></linearGradient></defs><path d="M 0,600 L 0,337 C 32.85240159665864,340.6787980121071 65.70480319331728,344.3575960242142 119,338 C 172.29519680668272,331.6424039757858 246.03318882338948,315.24841391525024 301,291 C 355.9668111766105,266.75158608474976 392.16244151312486,234.64874831478497 435,195 C 477.83755848687514,155.35125168521503 527.3170451241111,108.15659282560999 570,97 C 612.6829548758889,85.84340717439001 648.5693779904306,110.72488038277511 702,90 C 755.4306220095694,69.27511961722489 826.4054429141664,2.9438856432895477 883,-27 C 939.5945570858336,-56.94388564328955 981.8088503529038,-50.5004229559333 1020,-79 C 1058.1911496470962,-107.4995770440667 1092.359155674218,-170.9421938195564 1137,-208 C 1181.640844325782,-245.0578061804436 1236.7545269502232,-255.73080176584102 1289,-273 C 1341.2454730497768,-290.269198234159 1390.6227365248883,-314.13459911707946 1440,-338 L 1440,600 L 0,600 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.4" class="transition-all duration-300 ease-in-out delay-150 path-0" transform="rotate(-180 720 300)"></path><style>
      .path-1{
        animation:pathAnim-1 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes pathAnim-1{
        0%{
          d: path("M 0,600 L 0,487 C 43.75986676888101,491.7846427344101 87.51973353776202,496.56928546882017 138,490 C 188.48026646223798,483.43071453117983 245.68093261783287,465.50750085912927 292,446 C 338.31906738216713,426.49249914087073 373.75653599090646,405.4007110946628 425,377 C 476.24346400909354,348.5992889053372 543.2929234185414,312.8896547622195 598,291 C 652.7070765814586,269.1103452377805 695.0717703349281,261.0406698564593 740,232 C 784.9282296650719,202.95933014354068 832.4199952417458,152.94766581194324 873,120 C 913.5800047582542,87.05233418805678 947.2482486980889,71.16866689576779 1000,40 C 1052.751751301911,8.831333104232211 1124.5870099658991,-37.622333395014394 1174,-51 C 1223.4129900341009,-64.3776666049856 1250.4037114383145,-44.67933331571018 1291,-62 C 1331.5962885616855,-79.32066668428982 1385.7981442808427,-133.6603333421449 1440,-188 L 1440,600 L 0,600 Z");
        }
        25%{
          d: path("M 0,600 L 0,487 C 60.81876338259008,511.2346414126728 121.63752676518016,535.4692828253455 170,513 C 218.36247323481984,490.5307171746544 254.26865632186946,421.3575101112903 299,380 C 343.73134367813054,338.6424898887097 397.2878479473421,325.1006767294933 446,317 C 494.7121520526579,308.8993232705067 538.5799518887626,306.2397829707367 580,285 C 621.4200481112374,263.7602170292633 660.3923444976077,223.9401913875598 707,190 C 753.6076555023923,156.0598086124402 807.8506701208066,127.99945147902405 864,104 C 920.1493298791934,80.00054852097595 978.2049750191654,60.06200269634407 1025,34 C 1071.7950249808346,7.93799730365593 1107.3294298025323,-24.247462264400326 1145,-52 C 1182.6705701974677,-79.75253773559967 1222.477305770705,-103.07215363874278 1272,-125 C 1321.522694229295,-146.92784636125722 1380.7613471146474,-167.46392318062863 1440,-188 L 1440,600 L 0,600 Z");
        }
        50%{
          d: path("M 0,600 L 0,487 C 44.25798990192709,495.48437045652804 88.51597980385418,503.96874091305614 142,505 C 195.48402019614582,506.03125908694386 258.1940706865104,499.6094068043036 305,458 C 351.8059293134896,416.3905931956964 382.7077374501044,339.59363186972956 423,304 C 463.2922625498956,268.40636813027044 512.974979513072,274.01606571677814 562,256 C 611.025020486928,237.98393428322188 659.3923444976076,196.34210526315792 705,182 C 750.6076555023924,167.65789473684208 793.4556424964975,180.6155132305903 844,162 C 894.5443575035025,143.3844867694097 952.7850855164027,93.19584181448096 1004,60 C 1055.2149144835973,26.80415818551905 1099.4040154378913,10.60111951148592 1152,-29 C 1204.5959845621087,-68.60111951148592 1265.598852732031,-131.60031986042455 1315,-162 C 1364.401147267969,-192.39968013957545 1402.2005736339845,-190.19984006978774 1440,-188 L 1440,600 L 0,600 Z");
        }
        75%{
          d: path("M 0,600 L 0,487 C 35.35125168521505,473.91566655211614 70.7025033704301,460.8313331042322 120,440 C 169.2974966295699,419.1686668957678 232.5412382034947,390.5903341351873 289,364 C 345.4587617965053,337.4096658648127 395.1325438155912,312.8073303550186 441,292 C 486.8674561844088,271.1926696449814 528.9285865341405,254.18034444473818 572,251 C 615.0714134658595,247.81965555526182 659.1531100478469,258.47129186602865 714,232 C 768.8468899521531,205.52870813397132 834.4589732744719,141.93448809114702 877,95 C 919.5410267255281,48.06551190885299 939.0109968542654,17.790755769383278 989,10 C 1038.9890031457346,2.2092442306167226 1119.4970393084673,16.90248883131988 1177,-10 C 1234.5029606915327,-36.90248883131988 1269.0008459118665,-105.40071109466282 1309,-142 C 1348.9991540881335,-178.59928890533718 1394.4995770440669,-183.2996444526686 1440,-188 L 1440,600 L 0,600 Z");
        }
        100%{
          d: path("M 0,600 L 0,487 C 43.75986676888101,491.7846427344101 87.51973353776202,496.56928546882017 138,490 C 188.48026646223798,483.43071453117983 245.68093261783287,465.50750085912927 292,446 C 338.31906738216713,426.49249914087073 373.75653599090646,405.4007110946628 425,377 C 476.24346400909354,348.5992889053372 543.2929234185414,312.8896547622195 598,291 C 652.7070765814586,269.1103452377805 695.0717703349281,261.0406698564593 740,232 C 784.9282296650719,202.95933014354068 832.4199952417458,152.94766581194324 873,120 C 913.5800047582542,87.05233418805678 947.2482486980889,71.16866689576779 1000,40 C 1052.751751301911,8.831333104232211 1124.5870099658991,-37.622333395014394 1174,-51 C 1223.4129900341009,-64.3776666049856 1250.4037114383145,-44.67933331571018 1291,-62 C 1331.5962885616855,-79.32066668428982 1385.7981442808427,-133.6603333421449 1440,-188 L 1440,600 L 0,600 Z");
        }
      }</style><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="<%= article.color1%>"></stop><stop offset="95%" stop-color="<%= article.color2%>"></stop></linearGradient></defs><path d="M 0,600 L 0,487 C 43.75986676888101,491.7846427344101 87.51973353776202,496.56928546882017 138,490 C 188.48026646223798,483.43071453117983 245.68093261783287,465.50750085912927 292,446 C 338.31906738216713,426.49249914087073 373.75653599090646,405.4007110946628 425,377 C 476.24346400909354,348.5992889053372 543.2929234185414,312.8896547622195 598,291 C 652.7070765814586,269.1103452377805 695.0717703349281,261.0406698564593 740,232 C 784.9282296650719,202.95933014354068 832.4199952417458,152.94766581194324 873,120 C 913.5800047582542,87.05233418805678 947.2482486980889,71.16866689576779 1000,40 C 1052.751751301911,8.831333104232211 1124.5870099658991,-37.622333395014394 1174,-51 C 1223.4129900341009,-64.3776666049856 1250.4037114383145,-44.67933331571018 1291,-62 C 1331.5962885616855,-79.32066668428982 1385.7981442808427,-133.6603333421449 1440,-188 L 1440,600 L 0,600 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="0.53" class="transition-all duration-300 ease-in-out delay-150 path-1" transform="rotate(-180 720 300)"></path><style>
      .path-2{
        animation:pathAnim-2 4s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
      @keyframes pathAnim-2{
        0%{
          d: path("M 0,600 L 0,637 C 44.783843083348756,658.5568677469666 89.56768616669751,680.1137354939332 139,665 C 188.4323138333025,649.8862645060668 242.51309841655876,598.1019257712337 297,579 C 351.48690158344124,559.8980742287663 406.37992016706755,573.4785614211319 446,535 C 485.62007983293245,496.5214385788681 509.96722091517086,405.9838285442386 549,361 C 588.0327790848291,316.0161714557614 641.7511961722488,316.5861244019139 702,313 C 762.2488038277512,309.4138755980861 829.0279943958338,301.67167384810597 874,285 C 918.9720056041662,268.32832615189403 942.1368262444157,242.7271802056623 985,223 C 1027.8631737555843,203.2728197943377 1090.4247006265032,189.41960532924475 1148,154 C 1205.5752993734968,118.58039467075524 1258.1643712495706,61.59439847735864 1306,26 C 1353.8356287504294,-9.594398477358636 1396.9178143752147,-23.79719923867932 1440,-38 L 1440,600 L 0,600 Z");
        }
        25%{
          d: path("M 0,600 L 0,637 C 54.39789579423193,632.2417127071824 108.79579158846386,627.4834254143647 150,604 C 191.20420841153614,580.5165745856353 219.2147294403764,538.3080110497237 271,525 C 322.7852705596236,511.6919889502762 398.3452906500304,527.2845303867404 456,518 C 513.6547093499696,508.71546961325964 553.404107959502,474.5538674033149 593,457 C 632.595892040498,439.4461325966851 672.0382775119618,438.5 718,392 C 763.9617224880382,345.5 816.442781992651,253.4461325966851 866,216 C 915.557218007349,178.5538674033149 962.1905945174337,195.71546961325967 1010,197 C 1057.8094054825663,198.28453038674033 1106.794839937614,183.69198895027625 1150,149 C 1193.205160062386,114.30801104972376 1230.6300457321101,59.516574585635354 1278,25 C 1325.3699542678899,-9.516574585635357 1382.6849771339448,-23.758287292817677 1440,-38 L 1440,600 L 0,600 Z");
        }
        50%{
          d: path("M 0,600 L 0,637 C 39.42602236379496,615.7051931058184 78.85204472758991,594.4103862116366 133,581 C 187.1479552724101,567.5896137883634 256.0178434534352,562.063648259272 313,553 C 369.9821565465648,543.936351740728 415.0765814586693,531.3350207512755 450,510 C 484.9234185413307,488.66497924872453 509.67583071188767,458.59626873562615 558,419 C 606.3241692881123,379.40373126437385 678.2200956937799,330.27990430622015 727,322 C 775.7799043062201,313.72009569377985 801.4437865129927,346.28411403949355 843,316 C 884.5562134870073,285.71588596050645 942.0047582542495,192.58363953580587 1004,156 C 1065.9952417457505,119.41636046419413 1132.5371804700098,139.38132781728302 1177,121 C 1221.4628195299902,102.61867218271698 1243.8465198657113,45.89104919506199 1284,13 C 1324.1534801342887,-19.89104919506199 1382.0767400671443,-28.945524597530994 1440,-38 L 1440,600 L 0,600 Z");
        }
        75%{
          d: path("M 0,600 L 0,637 C 45.90135874593567,635.3299651061354 91.80271749187133,633.659930212271 140,607 C 188.19728250812867,580.340069787729 238.6904887784504,528.6902442570515 292,513 C 345.3095112215496,497.3097557429485 401.4353273943272,517.5790927595231 452,508 C 502.5646726056728,498.4209072404769 547.5682016442412,458.99338470485606 587,423 C 626.4317983557588,387.00661529514394 660.2918660287081,354.44736842105266 710,326 C 759.7081339712919,297.55263157894734 825.2643342409262,273.2171416109334 871,243 C 916.7356657590738,212.78285838906658 942.6507970075868,176.68406513521376 988,146 C 1033.3492029924132,115.31593486478626 1098.1324777287266,90.04659784821168 1155,79 C 1211.8675222712734,67.95340215178832 1260.8192920775066,71.12954347193951 1307,54 C 1353.1807079224934,36.87045652806048 1396.5903539612468,-0.5647717359697602 1440,-38 L 1440,600 L 0,600 Z");
        }
        100%{
          d: path("M 0,600 L 0,637 C 44.783843083348756,658.5568677469666 89.56768616669751,680.1137354939332 139,665 C 188.4323138333025,649.8862645060668 242.51309841655876,598.1019257712337 297,579 C 351.48690158344124,559.8980742287663 406.37992016706755,573.4785614211319 446,535 C 485.62007983293245,496.5214385788681 509.96722091517086,405.9838285442386 549,361 C 588.0327790848291,316.0161714557614 641.7511961722488,316.5861244019139 702,313 C 762.2488038277512,309.4138755980861 829.0279943958338,301.67167384810597 874,285 C 918.9720056041662,268.32832615189403 942.1368262444157,242.7271802056623 985,223 C 1027.8631737555843,203.2728197943377 1090.4247006265032,189.41960532924475 1148,154 C 1205.5752993734968,118.58039467075524 1258.1643712495706,61.59439847735864 1306,26 C 1353.8356287504294,-9.594398477358636 1396.9178143752147,-23.79719923867932 1440,-38 L 1440,600 L 0,600 Z");
        }
      }</style><defs><linearGradient id="gradient" x1="0%" y1="50%" x2="100%" y2="50%"><stop offset="5%" stop-color="<%= article.color1%>"></stop><stop offset="95%" stop-color="<%= article.color2%>"></stop></linearGradient></defs><path d="M 0,600 L 0,637 C 44.783843083348756,658.5568677469666 89.56768616669751,680.1137354939332 139,665 C 188.4323138333025,649.8862645060668 242.51309841655876,598.1019257712337 297,579 C 351.48690158344124,559.8980742287663 406.37992016706755,573.4785614211319 446,535 C 485.62007983293245,496.5214385788681 509.96722091517086,405.9838285442386 549,361 C 588.0327790848291,316.0161714557614 641.7511961722488,316.5861244019139 702,313 C 762.2488038277512,309.4138755980861 829.0279943958338,301.67167384810597 874,285 C 918.9720056041662,268.32832615189403 942.1368262444157,242.7271802056623 985,223 C 1027.8631737555843,203.2728197943377 1090.4247006265032,189.41960532924475 1148,154 C 1205.5752993734968,118.58039467075524 1258.1643712495706,61.59439847735864 1306,26 C 1353.8356287504294,-9.594398477358636 1396.9178143752147,-23.79719923867932 1440,-38 L 1440,600 L 0,600 Z" stroke="none" stroke-width="0" fill="url(#gradient)" fill-opacity="1" class="transition-all duration-300 ease-in-out delay-150 path-2" transform="rotate(-180 720 300)"></path></svg>

      <div class="row h-100">
        <div class="col-6 d-flex justify-content-center">
          <h1 class="animate__animated animate__fadeInLeft text-white ms-5 mt-md-5">
            <span class="fw-bold display-1"><%= article.week%></span> 
            <br> 
            <p data-i18n-key="<%= article.titleKey %>"></p>
          </h1>
        </div>

        <div class="col-6 d-flex align-items-center justify-content-center">
          <% article.images.forEach(image => { %>
          <img src="/<%= image%>" alt="" class="m-0 mb-md-5 align-self-center align-self-md-end">
          <% }) %>
        </div>
      </div>
  </div>
    
    <div class="container-fluid my-4" id="article">
        <div class="row px-4">
            <div class="col-7 col-md-8">
              <h2 style="color: <%= article.color2 %>;" data-i18n-key="pregnancyArticles.highlights"></h2>

              <div class="row my-3">

                <div class="col-12 col-md-2 my-2 m-md-0 d-flex justify-content-center align-items-center">
                    <img src="/img/pregnancy weeks/icon<%=article.week%>.1.png"  alt="">
                </div>
                
                <div class="col-12 col-md-9 my-2 m-md-0 text-center text-md-start g-0 d-flex flex-column justify-content-between ">
                  <h3 style="color: <%= article.color2 %>;" class="m-0"><span data-i18n-key="<%= article.title1Key %>"></span></h3>
                  <p class="m-0"><span data-i18n-key="<%= article.content1Key %>"></span></p>
                </div>
                
              </div>

                <div class="row my-3">
                  <div class="col-12 col-md-2 my-2 m-md-0 d-flex justify-content-center align-items-center">
                      <img src="/img/pregnancy weeks/icon<%=article.week%>.2.png" alt="">
                  </div>
                  <div class="col-12 col-md-9 my-2 m-md-0 text-center text-md-start g-0 d-flex flex-column justify-content-between">
                    <h3 style="color: <%= article.color2 %>;" class="bg-light m-0"><span data-i18n-key="<%= article.title2Key %>"></span></h3>
                    <p class="m-0"><span data-i18n-key="<%= article.content2Key %>"></span></p>
                  </div>
                </div>

              <div class="row d-flex flex-column my-3" id="size">
                <h2 style="color: <%= article.color2 %>;"><%=article.title3%></h2>
                <% article.images.forEach(image =>{ %>
                  <img src="/<%= image %>" alt="" class="align-self-center">
                <% }) %>
              </div>

              <h2 style="color: <%= article.color2 %>;" class="mt-5" data-i18n-key="pregnancyArticles.checklist"></h2>
              
              <div class="row my-3">
                <h3 class="m-0" style="color: <%= article.color2 %>;"><span data-i18n-key="<%= article.title4Key %>"></span></h3>
                <p class="m-0"><span data-i18n-key="<%= article.content3Key %>"></span></p>
              </div>
              <div class="row my-3">
                <h3 class="m-0" style="color: <%= article.color2 %>;"><span data-i18n-key="<%= article.title5Key %>"></span></h3>
                <p class="m-0"><span data-i18n-key="<%= article.content4Key %>"></span></p>
              </div>
              <div class="row my-3">
                <h3 class="m-0" style="color: <%= article.color2 %>;"><span data-i18n-key="<%= article.title6Key %>"></span></h3>
                <p class="m-0"><span data-i18n-key="<%= article.content5Key %>"></span></p>
              </div>
            </div>


            <div class="col-5 col-md-4 text-center" id="video">
              <h3 style="color: <%= article.color2 %>;">inside pregnancy: <%= article.week %> week</h3>
              <iframe src="<%= article.video %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>



    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/translations.js"></script>
</body>
</html>
